@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cinzel-Regular';
  src: url('/src/assets/fonts/Cinzel-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Cinzel-Bold';
  src: url('/src/assets/fonts/Cinzel-Bold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Cinzel-SemiBold';
  src: url('/src/assets/fonts/Cinzel-SemiBold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Cinzel-Medium';
  src: url('/src/assets/fonts/Cinzel-Medium.ttf') format('truetype'),
}

@font-face {
  font-family: 'Cinzel-Black';
  src: url('/src/assets/fonts/Cinzel-Black.ttf') format('truetype'),
}

html {
  font-size: 100%;
}

@layer base {
  h1 {
    @apply font-cinzel-bold text-[6rem];
  }
}